.input-group-text{
    border-right: 1px solid #f5f5f5;
}


.search-container{
    margin-top:10vh ;

}
.search-container .form-select{
   background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.25C0 1.93359 0.105469 1.65234 0.316406 1.44141C0.738281 0.984375 1.47656 0.984375 1.89844 1.44141L6.75 6.25781L11.5664 1.44141C11.9883 0.984375 12.7266 0.984375 13.1484 1.44141C13.6055 1.86328 13.6055 2.60156 13.1484 3.02344L7.52344 8.64844C7.10156 9.10547 6.36328 9.10547 5.94141 8.64844L0.316406 3.02344C0.105469 2.8125 0 2.53125 0 2.25Z' fill='white'/%3E%3C/svg%3E%0A")
}
.search-container .form-select option:hover{
  background-color: #51be69;
}

.input-group {
    width: 50%;
   
    
}
.search-container .form-control{
 background-color: #f5f5f5;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
 padding: 10px;
 font-family:Orbitron;
 border-left: 1px solid #f5f5f5;
}
.form-control:focus{
 background-color: #f5f5f5;

 border-color: #51be69;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}


.search-result-container .select{
    text-align:left; 
    color:white;
    font-family:Orbitron;
    background-color:#57bf6c;
    width: 100% !important;


}



card{
    border:none
}
.one{
    display:none

}
.two{
    
}

a{
    text-decoration: none;
}
.depth-0 button{
    border: none;
    background-color: white;

}
.depth-0 div{
 display:flex;
 justify-content:space-between ;

}
table  {
border: none;
width: 100%;

}
table .depth-0 a {
color:black;
font-family:Orbitron;

font-weight: 0;
}

.depth-1 button{
    border: none;
    background-color: white;

}
.depth-1 div{
    font-family:Orbitron;
    display:flex;
    justify-content:space-between ;
    color: black;
   }
.depth-1 div a{
margin-left: 10px;
color: black;

   }
.depth-2 div a{
    margin-left: 20px;
    font-family: inter !important;
    color: black;
}

.product-nav{
    
    background-image: url("../images/hero-img-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.four-images img{
    border:2px solid grey;
    margin:4px 6px;
    width: 18%;
}

.product-pictures-container img{
 border:2px solid grey;
margin: 4px 15px;


}
.product-pictures-container{
  width: 50%;



}
.main-container-product{
    margin-top: 20vh;
    display :flex;
    justify-content: space-between;
    font-family:Orbitron ;
}
.description-product{
    width: 45%;
}

.count-container{
    display: inline-flex;
    justify-content: space-between;

   border: 2px solid black;
   height:40%;
   margin: 0 10px; 
   background-color: white;
   width: 220px;
   padding: 16px 20px;

}
.qty-container{
   
    display: flex;
    margin: 5px;
    justify-content: space-between;
    
   
}
.qty-container .l{
   
    background-color: white;
    display: flex;
}
.qty-container .quantity-buttons{
    border: 2px solid black;
}
.qty-container .qty{
   margin: 0 25px;
   
}
.qty-container button{
    background-color: #fbfbfb;
    border: 1px solid #dcdcdc;

   
}

.check-out-container {
    margin-top: 5vh;
    padding:5% 7%;
    width: 100%;
    background-color: #f5f5f5 ;
    display :flex;
   
    
}
.total-container{
    background-color: #f5f5f5 ;
    padding:20px;
}
.check-out-container h3 {
    margin: 10px;
    font-size: 16px;
}
.row{
    margin-top: 10vh;
}
.check-out-container img{
    max-width: 30%;
   border:2px solid grey;
   margin: 10px;
}

.Toastify__toast-body{
    font-family: Orbitron ;
    
}
.total-container .btn {
    border-radius: 0;

}
.checkout-button{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    color: black;


}
.checkout-btn{
    background-color:#57bf6c;
    border-color:#57bf6c;
    width:100%;
    font-family:Orbitron;
    padding: 10px;
}
.checkout-btn:hover{
  color:white;
  background-color: #51be69;


}
.total-container p> a{
    text-decoration: underline !important;
    color: #51be69;


}
.checkout-sumary th{
    font-weight: lighter;
    color: #a7a7a7;
    
    

}
.checkout-sumary th tr a img{
    width: 100px;
    height: 100px;
   

}
.sumary-container>h2{
    font-family:Orbitron ;
    font-size: 26px;
    
}
.checkout-sumary{
    font-family: inter;
    font-weight: lighter;
    font-size: 16px;
}
.checkout-sumary tbody td:hover{
    color: #51be69;
    
}
.discount-input {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5vh 0 2vh 0 ;
    border: 1px solid black;
    height: 10%;
    align-items: center;

}

.discount-input input{

    border: none;
   width: 100%;
}
.discount-input input:focus{
outline: none;
  
}
.discount-button{
    background-color: #3b3947;
    font-family: inter;
    font-size: 14px;
    color: white;
    box-shadow:none ;
  
    padding: 8px 48px;
}


@media only screen and (max-width: 992px){


.search-result-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result{
    width:70% !important;
}
.input-group{
    width: 70%;
   margin: 0 auto;
}
.card{
  margin: 0 auto;
}
.logo{
  width: 20% !important;
}
.main-container-product{
    margin-top: 1vh;
    display :flex;
   flex-direction: column;
    font-family:Orbitron ;
    align-items: center;
}
.product-pictures-container{
    width: 90%;
  
  
  
  }
  .description-product{
    margin-top: 50px;
    width: 90%;
}
.count-container{
 

   border: 2px solid black;
   height:10%;
   margin: 10px 0; 
  

}
.qty-container{
   
    display: flex;
    margin: 0;
    justify-content: space-between;
    
   
}
.qty-container .l{
   
    background-color: white;
    display: flex;
    height: fit-content;
}
.qty-container .l button{
   
   padding:1px
}
.qty-container .quantity-buttons{
    border: 1px solid black;
}
.qty-container .qty{
   margin: 0 2px;
   
}

.check-out-container {
    margin: 10px auto;
    padding:10px;
    width: 100%;
    background-color: #f5f5f5 ;
    display :flex;
    overflow: hidden;
    
}
.total-container{
    background-color: #f5f5f5 ;
    padding:20px;
    margin: 10px auto;
}
.check-out-container h3 {
    margin: 7px;
    font-size: 10px;
}
.row{
    margin:10px;
}
.check-out-container img{
   display: none;
}
.price::before{
    content: "\a";
 
}
}